<div class="banner">
  <div class="layout">
    <h1 class="banner__title">
      <span>Lorem ipsum</span> dolor sit amet consectetur
      <span>adipiscing</span>
    </h1>
    <h3 class="banner__sub-title">
      At vero eos et accusamus et iusto odio dignissimos ducimus!
    </h3>
    <ul class="banner-list">
      <li class="banner-list__item">- Totam rem aperiam eaque ipsa</li>
      <li class="banner-list__item">- Sit voluptatem accusantium doloremque laudantium</li>
      <li class="banner-list__item">- Sed ut perspiciatis, unde omnis iste natus error</li>
      <li class="banner-list__item">- Totam rem aperiam eaque ipsa</li>
    </ul>
    <button class="btn" mat-flat-button>Заказать</button>
    <button  class="btn btn_white" mat-stroked-button>Подробнее</button>
  </div>
</div>
