::ng-deep {
    ng-select {
        width: 100%;
        margin-right: 30px;
      }
  ng-select.ng-select {
    &.ng-select-single {
      & .ng-select-container {
        height: 48px;

        & .ng-value-container {

          & .ng-placeholder,
          & .ng-value {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: $dark;
            caret-color: $dark;
          }

          & .ng-input {
            top: 14px;
          }
        }
      }

      &.ng-select-opened {
        &>.ng-select-container {
          color: #fff;
          background: rgba(61, 64, 80, 0.85);
          border: 1px solid $darkBg;

          & .ng-value-container {
            & .ng-input>input {
              color: #fff;
            }

            & .ng-value,
            & .ng-placeholder {
              color: $white;
            }
          }
        }
      }
    }

  }
  ng-dropdown-panel.ng-dropdown-panel {
    &.ng-select-top {
      border: 0;
    }

    &.ng-select-bottom {
      & .ng-dropdown-panel-items {
        & .ng-option:last-child {
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }
    }

    & .ng-dropdown-panel-items {
      max-height: 174px;

      & .ng-option {
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        padding: 12px 10px 0px;
        background: rgba(39, 39, 51, 0.9);

        &.ng-option-selected,
        &.ng-option-marked,
        &.ng-option-selected.ng-option-marked {
          color: $blue;
          background: rgba(39, 39, 51, 0.9);
        }
      }
    }

    border: 1px solid $darkBg;
    border-top: 0;
  }
}
