<div class="order">
    <div class="layout">
        <div class="order__title title">
            Тестовый <span>заголовок</span>
        </div>
        <div class="order__text text">
            Равным образом постоянный количественный рост и сфера нашей активности требуют определения и уточнения существенных финансовых и административных условий. Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение модели развития. Товарищи! постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Разнообразный и богатый опыт реализация намеченных плановых заданий играет важную роль в формировании систем массового участия. Таким образом реализация намеченных плановых заданий требуют от нас анализа системы обучения кадров, соответствует насущным потребностям.
        </div> 
    </div>
</div>